<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: "form-left" %>
    <%= f.text_field :name, class: "form-right" %>
  </div>
  <div class="field form-group">
    <%= f.label :status, class: "form-left" %>
    <%= f.select :status, [['Playing', true], ['Stopped': false]], class: "form-right" %>
  </div>
  <div class="field form-group">
    <%= f.label :coach, class: "form-left" %>
    <%= f.text_field :coach, class: "form-right" %>
  </div>
  <div class="field form-group">
    <div class="actions">
      <%= f.submit "Submit", class: "form-left" %>
    </div>
  </div>
<% end %>
