<h1>Listing Teams</h1>

<table class="table btn-disabled">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Status</th>
      <th>Coach</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= render("shared/team_name", team: team) %></td>
        <td><%= team.score %></td>
        <td><%= team.status %></td>
        <td><%= team.coach %></td>
        <td class="text-right">
          <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs btn-one-col' %>
          <%= link_to 'Edit', edit_team_path(team), class: 'btn btn-warning btn-xs btn-one-col' %>
          <%= link_to 'Show', team, class: 'btn btn-success btn-xs btn-one-col' %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr></hr>

<%= link_to 'New Team', new_team_path, class: 'btn btn-primary disabled' %>
