<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @team.score %>
</p>

<p>
  <strong>Status</strong>
  <%= @team.status %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coach %>
</p>

<hr></hr>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
