<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="col-xs-6">
    <div class="field form-group">
      <%= f.label :match_id, class: "form-left" %>
      <%= f.collection_select :match_id, predicable_matches(current_user), :id, :name, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :mainscore1, class: "form-left" %>
      <%= f.number_field :mainscore1, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :mainscore2, class: "form-left" %>
      <%= f.number_field :mainscore2, class: "form-right" %>
    </div>
    <br></br>
    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
