<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.text_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :mainscore1 %><br>
    <%= f.number_field :mainscore1 %>
  </div>
  <div class="field">
    <%= f.label :mainscore2 %><br>
    <%= f.number_field :mainscore2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
