<h1>Listing Predictions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Match</th>
      <th>Result</th>
      <th>User</th>
      <th>Prediction</th>
      <th>Score</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predictions.each do |prediction| %>
      <tr class="hoverable <%= can?(:edit, prediction) && prediction.open? ? 'clickable' : ''%>" href="<%= edit_prediction_path(prediction)%>">
        <td><%= render "shared/match_name", match: prediction.match %></td>
        <td><%= prediction.closed? ? "#{prediction.match.mainscore1} - #{prediction.match.mainscore2}" : "Not available" %></td>
        <td><%= prediction.user.name %></td>
        <td><%= prediction.mainscores %></td>
        <td><%= prediction.score %></td>
        <td><%= prediction.updated_at.to_s(:match) %></td>
        <td class="text-right">
          <% if can?(:destroy, prediction) && prediction.open? %>
            <%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs btn-one-col' %>
          <% end %>
          <% if can?(:edit, prediction) && prediction.open? %>
            <%= link_to 'Edit', edit_prediction_path(prediction), class: 'btn btn-warning btn-xs btn-one-col' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="btn-danger"><%= current_user.score %></td>
  </tbody>
</table>

<div class="col-xs-12">
  <hr></hr>
  <%= link_to 'New Prediction', new_prediction_path, class: 'btn btn-primary' %>
</div>
