<p>
  <strong>Match:</strong>
  <%= @prediction.match.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @prediction.user.name %>
</p>

<p>
  <strong>Mainscore1:</strong>
  <%= @prediction.mainscore1 %>
</p>

<p>
  <strong>Mainscore2:</strong>
  <%= @prediction.mainscore2 %>
</p>

<div class="col-xs-12">
  <hr></hr>
  <%= link_to 'Edit', edit_prediction_path(@prediction), class: "btn btn-primary" %> |
  <%= link_to 'Back', predictions_path, class: "btn btn-primary btn-warning" %> |
  <%= link_to 'New prediction', new_prediction_path, class: "btn btn-primary" %>
</div>
