<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="col-xs-6">
    <div class="field form-group">
      <%= f.label :team1_id, class: "form-left" %>
      <%= f.collection_select :team1_id, Team.all, :id, :name, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :team2_id, class: "form-left" %>
      <%= f.collection_select :team2_id, Team.all, :id, :name, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :time, class: "form-left" %>
      <%= f.datetime_select :time, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :status, class: "form-left" %>
      <%= f.select :status, [['Open', false], ['Closed', true]], class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :mainscore1, class: "form-left" %>
      <%= f.number_field :mainscore1, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :mainscore2, class: "form-left" %>
      <%= f.number_field :mainscore2, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :subscore1, class: "form-left" %>
      <%= f.number_field :subscore1, class: "form-right" %>
    </div>
    <div class="field form-group">
      <%= f.label :subscore2, class: "form-left" %>
      <%= f.number_field :subscore2, class: "form-right" %>
    </div>
    <br></br>
    <div class="field form-group">
      <div class="actions">
        <%= f.submit 'Submit', class: "btn btn-primary form-left" %>
      </div>
    </div>
  </fieldset>
<% end %>
