<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Team1</th>
      <th>Team2</th>
      <th>Time</th>
      <th>Status</th>
      <th>Mainscore1</th>
      <th>Mainscore2</th>
      <th>Subscore1</th>
      <th>Subscore2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each_with_index do |match, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= match.team1.name %></td>
        <td><%= match.team2.name %></td>
        <td><%= match.time.to_s(:time) %></td>
        <td><%= match.status %></td>
        <td><%= match.mainscore1 %></td>
        <td><%= match.mainscore2 %></td>
        <td><%= match.subscore1 %></td>
        <td><%= match.subscore2 %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
